{% extends 'registration/base-logout.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
{% if app.user %}
<p>
    Vous êtes connecté(e) en tant que {{ app.user.firstname }} {{ app.user.lastname }}.
    <a href="{{ logout_path() }}" class="link-logout">Se déconnecter</a>
</p>
{% else %}
<form method="post">
    {% if error %}
    <div class="error-login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <label for="username">E-mail</label>
    <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
    <label for="password">Mot de passe</label>
    <input type="password" name="_password" id="password" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
    <button type="submit" class="button button-submit">Continuer</button>
</form>
<a href="{{ path('app_register') }}" class="link-logout">Pas de compte ? S'inscrire</a>
{% endif %}
{% endblock %}
