{% extends 'registration/base-logout.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div>{{ form_row(form.lastname) }}</div>
    <div>{{ form_row(form.firstname) }}</div>
    <div>{{ form_row(form.email) }}</div>
    <div>
        <div>{{ form_row(form.plainPassword.first) }}</div>
        <div>{{ form_row(form.plainPassword.second) }}</div>
    </div>
    <button type="submit" class="button button-submit">Continuer</button>
{{ form_end(form) }}
<a href="{{ path('app_login') }}" class="link-logout">Vous avez déjà un compte ?</a>
{% endblock %}
