{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block header %}
<h1>Équipe</h1>
{% endblock %}

{% block body %}
<table id="team-container">
    <thead>
        <tr>
            <th>Prénom, Nom</th>
            <th>Statut</th>
            <th>Rôle</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
        <tr>
            <td>
                <div class="employee-infos">
                    <div class="employee-avatar">{{ employee.firstname|slice(0,1)|upper ~ employee.lastname|slice(0,1)|upper }}</div>
                    <div class="employee-coords">
                        <strong>{{ employee.firstname ~ ' ' ~ employee.lastname }}</strong>
                        <span>{{ employee.email }}</span>
                    </div>
                </div>
            </td>
            <td>{{ employee.status }}</td>
            <td>
                {% if 'ROLE_ADMIN' in employee.getRoles() %}
                Chef de projet
                {% else %}
                Collaborateur
                {% endif %}
            </td>
            <td>
                <a class="button button-edit-team" href="{{ path('app_employee_edit', {id: employee.id}) }}">Éditer</a>
                <a class="delete-team" href="{{ path('app_employee_delete', {id: employee.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce membre ?');">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
