{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block header %}
<div class="flex-header">
    <h1>{{ project.title }}</h1>
    <div class="user-list">
    {% for employee in project.employees %}
        <div class="avatar">{{ employee.firstname|slice(0,1)|upper ~ employee.lastname|slice(0,1)|upper }}</div>
    {% endfor %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="button" href="{{ path('app_project_edit', {id: project.id}) }}">Modifier</a>
    {% endif %}
</div>
{% endblock %}

{% block body %}
<div id="tasks-container">
    <div class="task-column">
        <h2>À faire</h2>
        <div class="tasks-list">
        {% for task in tasksToDo %}
            {% include 'task/item.html.twig' with { task: task } %}
        {% endfor %}
            <a href="{{ path('app_task_new', {project: project.id}) }}" class="task-add">+ Ajouter une tâche</a>
        </div>
    </div>
    <div class="task-column">
        <h2>En cours</h2>
        <div class="tasks-list">
        {% for task in tasksDoing %}
            {% include 'task/item.html.twig' with { task: task } %}
        {% endfor %}
            <a href="{{ path('app_task_new', {project: project.id}) }}" class="task-add">+ Ajouter une tâche</a>
        </div>
    </div>
    <div class="task-column">
        <h2>Terminé</h2>
        <div class="tasks-list">
        {% for task in tasksDone %}
            {% include 'task/item.html.twig' with { task: task } %}
        {% endfor %}
            <a href="{{ path('app_task_new', {project: project.id}) }}" class="task-add">+ Ajouter une tâche</a>
        </div>
    </div>
</div>
{% endblock %}
